/*
    index.html
    **********************
    color palette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373
    **********************
*/

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(27, 27, 27);
    background-color: #fefae0;
}

.navbar {
    top: 0;
    position: fixed;
    background-color: #e9edc9;
    width: 100%;
    padding: 18px;
    display: flex;
}

h1 {
    margin: auto;
}

.search-icon {
    filter: brightness(0);
    width: 32px;
    margin-right: 32px;
    margin-left: -32px;
}

.hero {
    margin-top: 100px;
    height: 2500px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;  
}

a {
    text-decoration: none;
    color: black;
}

.recipe-card {
    border: solid black 2px;
    border-radius: 12px;
    transition: 0.5s;
    font-size: 18px;
    margin: 32px;
    padding: 32px;
}

.recipe-card:hover {
    font-size: 24px;
    font-weight: 900;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.171);
    margin: 0;
}