/*
    index.html
    **********************
    color palette: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373
    **********************
*/

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(27, 27, 27);
    background-color: #fefae0;
}

.navbar {
    top: 0;
    position: fixed;
    background-color: #e9edc9;
    width: 100%;
    padding: 18px;
    display: flex;
}

.search-icon {
    filter: brightness(0);
    width: 32px;
}

.hero {
    margin-top: 100px;
    height: 2500px;
}

