/*
    index.html
*/

* {
    font-family: Verdana, sans-serif;
    color:black;
}

body {
    background-color: rgb(219, 200, 173);
    display: flex;
    justify-content: center;
}

.hero {
    text-align: center;
    width: 900px;
}

h1 {
    color: rgb(58, 51, 42);
    font-weight: 900;
    font-size: 52px;
    line-height: 64px;
}

.recipes {
    background-color: white;
    display: flex;
    justify-content: center;
    width: auto;
}

ul {
    text-align: left;
    list-style: none;
    line-height: 48px;
}
